
@model Pizza

<div class="container text-center">



    <div class="title text-center"">
        <h1>
            @Model.Name
        </h1>
        <p>Descrizione: @Model.Description</p>
        <p>Prezzo: @Model.Price $</p>
        <img width="50" src="@Model.Image">
    </div>

</div>